.form {

	&--auth {
		max-width: 28rem;
		margin: 0 auto;
	}

	&--center {
		text-align: center;
	}
}

.form__group {
	margin-bottom: 1.5rem;
	position: relative;

	&--md {
		margin-bottom: 2.5rem;
	}
}

.form__control {
	font-family: inherit;
	font-size: 1.4rem;
	color: $white;
	display: block;
	width: 100%;
	background: none;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #3f3f3f;
	box-shadow: none;
	padding: .2rem 0 .75rem 0.2rem;

	&::placeholder {
		color: rgba($white, .2)
	}

	&:focus + .form__line {
		width: 100%;
	}
	
	&--textarea {
		height: 30px;
		resize: none;
		overflow: hidden;
	}
}

.form__line {
	width: 0;
	height: 1px;

	background-color: $blue;

	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 1;

	transition: width .2s linear;
}

.form__footer {

	&--center {
		text-align: center;
	}
}

.form__footer-list {
	display: flex;
	justify-content: center;

	font-size: 1.2rem;
	line-height: 1.2;

	li {
		margin: 0 .5rem;
		&:not(:last-child):after {
			content: "";
			display: inline-block;
			width: 1px;
			height: 80%;
			position: relative;
			top: 2px;
			left: 4px;
			margin: 0 .2rem;
			background-color: rgba($white, .2);
		}
	}

	a {
		color: $white
	}
}